<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Key</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script type="text/javascript" src="js/sendTransaction.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>SmartLock</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to distributed smart lock</h1>
          <p class="lead text-muted">You can lock and unlock keys, such as your home, office, and so on from a remote place</p>
        </div>
      </section>
      <div class="col-md-3 mx-auto">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" id="image" src="" alt="Card image cap"　height="400">
          <div class="card-body">
            <div class="card-text text-center"><h2 >Status</h2><h2 id="status"><%= title %></h2></div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-primary my-2" name="btn" value="Open" onclick="sendTransaction(this);">Open</button>
                <button type="button" class="btn btn-secondary my-2" name="btn" value="Close" onclick="sendTransaction(this);">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    </main>
  </body>
</html>
