<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Smart Key</title>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script>
  window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
          console.log('Web3：' + web3.currentProvider.constructor.name);
          startApp();
      }else{
          console.log('MetaMaskをインストールして下さい');
      }
  })

  function startApp(){
      web3 = new Web3(web3.currentProvider);
      web3.eth.getAccounts(function(error, accounts) {
          if (error) return;
          let user_account = accounts[0];
          if(typeof user_account !== 'undefined'){
            window.sessionStorage.setItem(['user_account'],[user_account]);
          }else{
              console.log("ログインして下さい");
          }
      });
  }
  function sendAccount(button) {
    let user_account = window.sessionStorage.getItem(['user_account']);
    var ele = document.createElement('input');
    // データを設定
    ele.setAttribute('type', 'hidden');
    ele.setAttribute('name', 'user_account');
    ele.setAttribute('value', user_account);
    // 要素を追加
    if(button.value === 'Open') {
      document.openForm.appendChild(ele);
    } else {
      document.closeForm.appendChild(ele);
    }
  }
</script>
</head>
<body>
  <form action="/open" method="POST" id="openForm" name="openForm">
    <input type="submit" name="btn" value="Open" onclick="sendAccount(this);" />
  </form>
  <form action="/close" method="POST" id="closeForm" name="closeForm">
    <input type="submit" name="btn" value="Close" onclick="sendAccount(this);" />
  </form>
  <div id="output"><p></p></div>
</body>
</html>
